@model FTE.DATA.EF.TruckFoodType

@{
    ViewBag.Title = "Delete";
}

<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>@ViewBag.Title</p>
                <h2>@Model.Cuisine</h2>

            <p class="delete-warning"><i class="fas fa-exclamation-triangle mx-2"></i>Are you sure you want to delete @Model.Cuisine?<i class="fas fa-exclamation-triangle mx-2"></i></p>
            <p class="mx-auto mt-3">
                <a href="@Url.Action("Index", "TruckFoodTypes")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
            </p>
        </div>
        <div class="row contact-info">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-md">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>