@model FTE.DATA.EF.TruckFoodType

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TruckFoodTypeID)

    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <p>@ViewBag.Title</p>
                    <h2>@Model.Cuisine</h2>               
                <p class="mx-auto">
                    <a href="@Url.Action("Index", "UsersAdmin")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
                </p>
            </div>
            <div class="row contact-info">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 justify-content-center align-items-center">
                    <div class="align-items-center">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Cuisine, new { htmlAttributes = new { @class = "form-control", placeholder = "Cuisine" } })
                            @Html.ValidationMessageFor(model => model.Cuisine, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Changes" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TruckFoodType</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Cuisine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cuisine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cuisine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
