@model FTE.DATA.EF.TruckFoodType

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TruckFoodTypeID)

    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <p>@ViewBag.Title</p>
                    <h2>@Model.Cuisine</h2>               
                <p class="mx-auto">
                    <a href="@Url.Action("Index", "TruckFoodTypes")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
                </p>
            </div>
            <div class="row contact-info">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 justify-content-center align-items-center">
                    <div class="align-items-center">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Cuisine, new { htmlAttributes = new { @class = "form-control", placeholder = "Cuisine" } })
                            @Html.ValidationMessageFor(model => model.Cuisine, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Changes" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </section>
}
