@model IEnumerable<FTE.DATA.EF.TruckFoodType>

@{
    ViewBag.Title = "Cuisine Categories";
}


<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            @if (Request.IsAuthenticated && User.IsInRole("SysAdmin"))
            {
                <p class="mx-auto">
                    <a href="@Url.Action("Create", "TruckFoodTypes")"><i class="fas fa-plus-square fa-2x pl-03"></i></a>
                </p>
            }
        </div>
        <div class="row mx-auto">
            <table class="table">
                @*<tr>
                    <th>
                        Cuisine
                    </th>

                    @if (Request.IsAuthenticated && User.IsInRole("SysAdmin"))
                    {
                        <th>

                        </th>
                    }
                </tr>*@

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Events", new { id=item.TruckFoodTypeID })">@Html.DisplayFor(modelItem => item.Cuisine)</a>
                    </td>

                    @if (Request.IsAuthenticated && User.IsInRole("SysAdmin"))
                    {
                        <td>
                            <a href="@Url.Action("Edit", "Events", new { id=item.TruckFoodTypeID })" class="mx-3"><i class="fas fa-pen-square fa-2x"></i></a>
                            <a href="@Url.Action("Delete", "Events", new { id=item.TruckFoodTypeID })" class="mx-3"><i class="fas fa-minus-square fa-2x"></i></a>
                        </td>
                    }
                </tr>
                }

            </table>
        </div>
    </div>
</section>