@model FTE.DATA.EF.Location

@{
    ViewBag.Title = "Add a Location";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>@ViewBag.Title</h2>
                <p class="mx-auto">
                    <a href="@Url.Action("Index", "Locations")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
                </p>
            </div>
            <div class="row contact-info">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 justify-content-center align-items-center">
                    <div class="align-items-center">
                        <div class="form-group">
                            @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control", placeholder = "Location Name" } })
                            @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", placeholder = "State" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Zip Code" } })
                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.ReservationLimit, new { htmlAttributes = new { @class = "form-control", placeholder = "Reseration Limit" } })
                            @Html.ValidationMessageFor(model => model.ReservationLimit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Location" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
