@model IEnumerable<FTE.DATA.EF.Location>

@{
    ViewBag.Title = "Locations";
}
<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            <p class="mx-auto">
                <a href="@Url.Action("Create", "Locations")"><i class="fas fa-plus-square fa-2x pl-03"></i></a>
            </p>
        </div>

        <div class="row">
            @*contact-info*@
            <table class="table">
                <tr class="text-center">
                    <th class="align-middle">
                        @Html.DisplayNameFor(modelItem => modelItem.LocationName)
                    </th>
                    <th class="align-middle">
                        @Html.DisplayNameFor(modelItem => modelItem.State)
                    </th>
                    <th class="align-middle">
                        @Html.DisplayNameFor(modelItem => modelItem.ReservationLimit)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <a href="@Url.Action("Details", "Locations", new { id = item.LocationID })">@Html.DisplayFor(modelItem => item.LocationName)</a>
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td class="text-center align-middle">
                            @Html.DisplayFor(modelItem => item.ReservationLimit)
                        </td>
                        <td class="text-center align-middle">
                            <a href="@Url.Action("Edit", "Locations", new { id = item.LocationID })" class="mx-3"><i class="fas fa-pen-square fa-2x"></i></a>
                            <a href="@Url.Action("Delete", "Locations", new { id = item.LocationID })" class="mx-3"><i class="fas fa-minus-square fa-2x"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>
