@model FTE.DATA.EF.Events

@{
    ViewBag.Title = "Delete";
}

<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>@ViewBag.Title</p>
            <h2>@Model.EventName</h2>

            <p class="delete-warning"><i class="fas fa-exclamation-triangle mx-2"></i>Are you sure you want to delete @Model.EventName?</p>
            <p class="mx-auto mt-3">
                <a href="@Url.Action("Index", "Events")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
            </p>
        </div>
        <div class="row" @*contact-info*@>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <div class="pl-045">
                    <div>
                        @Html.DisplayNameFor(model => model.EventDate):
                        @Html.DisplayFor(model => model.EventDate)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.IsCancelled)
                        @Html.DisplayNameFor(model => model.IsCancelled)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Location.LocationName):<br />
                        @Html.DisplayFor(model => model.Location.LocationName)
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Notes):<br />
                        @Html.DisplayFor(model => model.Notes)
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color mt-3 text-center">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-4">

            </div>


            
        </div>


        @*<h2>Delete</h2>

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>Events</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EventName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EventDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsCancelled)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsCancelled)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Notes)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Location.LocationName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location.LocationName)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            *@
        </div>  
</section>