@model IEnumerable<FTE.DATA.EF.Events>

@{
    ViewBag.Title = "Events";
    //var roles = new List<string> { "SysAdmin", "Admin", "Employee" };
}



<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            @if (Request.IsAuthenticated && User.IsInRole("SysAdmin") || User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <p class="mx-auto">
                    <a href="@Url.Action("Create", "Events")"><i class="fas fa-plus-square fa-2x pl-03"></i></a>
                </p>
            }
        </div>
        <div class="row mx-auto">
            <table class="table">
                <tr class="text-center">
                    <th>
                        @Html.DisplayNameFor(model => model.EventName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EventDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsCancelled)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Details", "Events", new { id=item.EventID })">@Html.DisplayFor(modelItem => item.EventName)</a>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.EventDate)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IsCancelled)
                        </td>
                        <td class="text-center">
                            @if (Request.IsAuthenticated && User.IsInRole("SysAdmin") || User.IsInRole("Admin") || User.IsInRole("Employee"))
                            {
                                <a href="@Url.Action("Edit", "Events", new { id = item.EventID })" class="mx-3"><i class="fas fa-pen-square fa-2x"></i></a>
                                @*<a href="@Url.Action("Delete", "Events", new { id=item.EventID })" class="mx-3"><i class="fas fa-minus-square fa-2x"></i></a>*@
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>