@model FTE.DATA.EF.OwnerAsset

@{
    ViewBag.Title = "Add a Truck";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "OwnerAssets", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <p></p>
                <h2>@ViewBag.Title</h2>
                <p class="text-center">
                    <a href="@Url.Action("Index", "OwnerAssets")" class="mx-2"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
                </p>
            </div>
            <div class="row contact-info">
                <!-- Truck Image -->
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
                        @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="file" name="truckImg" />
                        @Html.ValidationMessageFor(model => model.TruckPhoto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- Truck Details -->
                <div class="col-md-4 text-left">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkbox" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.TruckName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TruckName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TruckFoodTypeID, "Cuisine", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("TruckFoodTypeID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TruckFoodTypeID, "", new { @class = "text-danger" })
                    </div>
                    @if(User.IsInRole("SysAdmin") || User.IsInRole("Admin"))
                    {
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerID, "Owner", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("OwnerID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OwnerID, "", new { @class = "text-danger" })
                    </div>
                    }
                </div>
                <!-- Truck Notes -->
                <div class="col-md-4 text-left">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SpecialNotes, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SpecialNotes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SpecialNotes, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add Truck" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
