@model FTE.DATA.EF.OwnerAsset

@{
    ViewBag.Title = "Delete";
}

<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>@ViewBag.Title</p>
            <h2>@Model.TruckName</h2>

            <p class="delete-warning"><i class="fas fa-exclamation-triangle mx-2"></i>Are you sure you want to delete @Model.TruckName?<i class="fas fa-exclamation-triangle mx-2"></i></p>
            <p class="mx-auto mt-3">
                <a href="@Url.Action("Index", "TruckFoodTypes")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
            </p>
        </div>
        <div class="row contact-info">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-md">
                <!-- Truck Image -->
                <div class="col-md-6 mb-4">
                    <img src="~/Content/images/@Model.TruckPhoto" alt="@Model.TruckName" title="@Model.TruckPhoto" class="img-fluid" />
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>


@*<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OwnerAsset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TruckName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruckName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TruckPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruckPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TruckFoodType.Cuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TruckFoodType.Cuisine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@
