@model IEnumerable<FTE.DATA.EF.OwnerAsset>

@{
    ViewBag.Title = "Registered Food Trucks";
}
<section id="contact" class="section-bg">

    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            <p class="mx-auto">
                <a href="@Url.Action("Create", "OwnerAssets")"><i class="fas fa-plus-square fa-2x pl-03"></i></a>
            </p>
        </div>

        <div class="row">
            @*contact-info*@
            <table class="table">
                <tr class="text-center">
                    <th>
                        @Html.DisplayNameFor(modelItem => modelItem.TruckName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelItem => modelItem.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(modelItem => modelItem.TruckFoodType.Cuisine)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "OwnerAssets", new { id=item.OwnerAssetID })">@Html.DisplayFor(modelItem => item.TruckName)</a>
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.TruckFoodType.Cuisine)
                    </td>

                    <td class="text-center">
                        <a href="@Url.Action("Edit", "OwnerAssets", new { id=item.OwnerAssetID })" class="mx-3"><i class="fas fa-pen-square fa-2x"></i></a>
                        <a href="@Url.Action("Delete", "OwnerAssets", new { id=item.OwnerAssetID })" class="mx-3"><i class="fas fa-minus-square fa-2x"></i></a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</section>


@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TruckName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TruckFoodType.Cuisine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TruckName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
  
        <td>
            @Html.DisplayFor(modelItem => item.TruckFoodType.Cuisine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OwnerAssetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OwnerAssetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OwnerAssetID })
        </td>
    </tr>
}*@

</table>
