@model IdentitySample.Models.RoleViewModel

@{
    ViewBag.Title = "Create a Role";
}

@using (Html.BeginForm("Create", "RolesAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>@ViewBag.Title</h2>
                <p class="mx-auto">
                    <a href="@Url.Action("Index", "RolesAdmin")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
                </p>
            </div>
            <div class="row contact-info">
                <div class="col-md-4">
                </div>
                <div class="col-md-4 justify-content-center align-items-center">
                    <div class="align-items-center">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Role Name" } })
                        </div>
                    </div>
                        <div class="form-group">
                            <input type="submit" value="Add Role" class="btn btn-default" />
                        </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
