@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}

<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>@ViewBag.Title</p>
            <h2>@Model.Name</h2>

            <p class="delete-warning"><i class="fas fa-exclamation-triangle mx-2"></i>Are you sure you want to delete @Model.Name?<i class="fas fa-exclamation-triangle mx-2"></i></p>
            <p class="mx-auto mt-3">
                <a href="@Url.Action("Index", "RolesAdmin")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
            </p>
        </div>
        <div class="row contact-info">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-md">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
                <strong>Users in this Role:</strong><br />
                @if (Model.Users.Count == 0)
                {
                    <p>No roles found for this user.</p>
                }
                else
                {
                    <p class="m-2">@Model.Users.Count</p>
                }
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
