@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Html.HiddenFor(m => m.Id);
    string userName = Model.Email.Substring(0, Model.Email.IndexOf('@'));
    string userDomain = Model.Email.Substring(Model.Email.IndexOf('@'));
}

<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>@ViewBag.Title</p>
            @if (Model.Email.Length > 15)
            {
                <h2>@userName<br />@userDomain</h2>
            }
            else
            {
                <h2>@Model.Email</h2>
            }
            <p class="delete-warning"><i class="fas fa-exclamation-triangle mx-2"></i>Are you sure you want to delete @Model.UserName?</p>
            <p class="mx-auto mt-3">
                <a href="@Url.Action("Index", "UsersAdmin")"><i class="fas fa-caret-square-left fa-2x pl-03"></i></a>
            </p>
        </div>
        <div class="row contact-info">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-md">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
                    @*<strong>Roles:</strong><br />
            @if (Model.Roles.Count == 0)
                {
                    <p>No roles found for this user.</p>
                }

                @foreach (var item in Model.Roles)
                {

                    <p class="m-2">@item</p>

                }*@
                </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
