<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We have the locations and the events. You have the food trucks ready to roll! This is the site to schedule in advance and secure your place at events in your neighborhood and gurantee the croud some impressive cuisine!" />
    <meta name="keywords" content="food, food truck, schedule, scheduling, events, local event, location" />
    <title>@ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon-16x16.png">

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>
    <!--  Default Nav
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                    <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>-->
    <!--  Header -->
    <header id="header" class="header-fixed">
        <div class="container d-inline-block">

            <div id="logo" class="pull-left d-inline my-auto">
                <!-- Uncomment below if you prefer to use a text logo -->
                <h1>
                    <img src="~/Content/images/favicon-32x32.png" /> <a href="@Url.Action("Index", "Home")">FT<span>Events</span></a>
                </h1>
                <!-- <a href="index.html" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>-->
            </div>
            <div class="pull-left d-none d-md-block">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav-menu d-inline-block">
                            <li class="greeting">
                                Hello @User.Identity.Name!
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav-menu d-inline-block">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
            <!-- Nav -->
            <nav id="nav-menu-container">
                @*<ul class="nav-menu">@Html.Partial("_LoginPartial")</ul>*@
                <ul class="nav-menu">
                    <li class="menu-active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>




                    <!-- Admininstration Dropdown -->
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown scrolla">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administration
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "TruckFoodTypes")">Cuisine Categories</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Locations")">Locations</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Events")">Events</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Reservations")">Reservations</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "UserDetails")">User Detials</a>                    
                                <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin")">Roles</a>
                                @*<a class="dropdown-item" href="@Url.Action("Index", "Employees")">Employees</a>*@
                                @*<a class="dropdown-item" href="@Url.Action("Index", "ReservationLimits")">Reservation Limits</a>*@
                            </div>
                        </li>
                    }
                    <!-- End Admininstration Dropdown -->
                    <!-- Employee Dropdown -->
                    @if (Request.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Employee
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @*<a class="dropdown-item" href="@Url.Action("", "")">Reservation Report</a>*@
                                <a class="dropdown-item" href="@Url.Action("Index", "Events")">Events</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Reservations")">Reservations</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "OwnerAssets")">Trucks</a>
                            </div>
                        </li>
                    }
                    <!-- End Employee Dropdown -->
                    <!-- Owner Dropdown -->
                    @if (Request.IsAuthenticated && User.IsInRole("Owner"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Owner
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "OwnerAssets")">Trucks</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Events")">Events</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Reservations")">Reservations</a>
                                @*<a class="dropdown-item" href="@Url.Action("Index", "Users")">Account</a>*@
                            </div>
                        </li>
                    }
                    <!-- End Owner Dropdown -->
                    <!-- System Adminsitrator Dropdown -->
                    @if (Request.IsAuthenticated && User.IsInRole("SysAdmin"))
                    {
                        <li class="dropdown d-block">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                System Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Index", "TruckFoodTypes")">Cuisine Categories</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "OwnerAssets")">Trucks</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "UserDetails")">Owners</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Locations")">Locations</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Events")">Events</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Reservations")">Reservations</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "RolesAdmin")">Roles</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "UsersAdmin")">Users Admin</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "UserDetails")">User Details</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Account")">Account</a>
                            </div>
                        </li>
                    }
                    <!-- End System Adminsitrator Dropdown -->

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <li class="d-block d-md-none">
                                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li class="d-block d-md-none"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }
                    }
                    else
                    {
                        <li class="d-block d-md-none">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }


                    @*<li><a href="@Url.Action("Login", "Account")">Login</a></li>*@

                    @*<li class="buy-tickets"><a href="#buy-tickets">Event Scheduler</a></li>*@
                </ul>
            </nav>
            <!-- End Nav -->
        </div>
    </header>
    <!-- End Header -->


    <div class="container body-content pt-3">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info p-2e">
                        <h1>
                            <img src="~/Content/images/favicon-32x32.png" /> <a href="#intro">FT<span>Events</span></a>
                        </h1>
                        <p>Food Truck Events is dedicated to continually providing pristine locations for community evets year-round. We have indoor and outdoor locations in multiple states. Reserve your place at our events and let us bring the hungry people to you!</p>

                    </div>

                    <div class="col-lg-4 col-md-6 footer-links p-2e">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fas fa-angle-right"></i> <a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><i class="fas fa-angle-right"></i> <a href="@Url.Action("About", "Home")">About us</a></li>
                            <li><i class="fas fa-angle-right"></i> <a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                            @*<li><i class="fas fa-angle-right"></i> <a href="#">Terms of service</a></li>
                                <li><i class="fas fa-angle-right"></i> <a href="#">Privacy policy</a></li>*@
                        </ul>
                        <div class="copyright">
                            &copy; @DateTime.Now.Year
                        </div>
                    </div>

                    @*<div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="fas fa-angle-right"></i> <a href="#">Home</a></li>
                                <li><i class="fas fa-angle-right"></i> <a href="#">About us</a></li>
                                <li><i class="fas fa-angle-right"></i> <a href="#">Services</a></li>
                                <li><i class="fas fa-angle-right"></i> <a href="#">Terms of service</a></li>
                                <li><i class="fas fa-angle-right"></i> <a href="#">Privacy policy</a></li>
                            </ul>
                        </div>*@

                    <div class="col-lg-4 col-md-6 footer-contact p-2e">
                        <h4>Contact Us</h4>
                        <p>
                            2200 N Event Ln <br>
                            Topeka, KS 66618<br>
                            United States <br>
                            <strong>Phone:</strong> +1 555-867-5309<br>
                            <strong>Email:</strong> info@FTEvents.com<br>
                        </p>

                        @*<div class="social-links">
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>*@

                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Default Footer
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>-->
    @*After testing if you want to bundle you will need to add EVERY file from the Content/js folder to the
            bundle config.cs
            @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/vendor/superfish/superfish.min.js"></script>
    <script src="~/Content/vendor/hoverIntent/hoverIntent.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)
    @*<style>
            div{border:1px solid yellow;}
        </style>*@
</body>
</html>
